.header {
  flex-grow: 1;
}

.sidebar-main {
  flex-grow: 15;
}

.footer {
  flex-grow: 1;
  display: flex;
  align-items:flex-end;
  justify-content: center;
  text-align: center;
}

.card {

}

.card__image {

}
