.sidebar {
  background-color: white;
  padding: 30px 25px 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  position: fixed;
  height: 100vh;

  p {
    margin: 0;
  }
}

header {
  ::first-line a:hover {
    border: none;
    color: $blue-ludo;
  }

  ul li {
    font-size: 1.2em;
    font-weight: 600;
    padding-bottom: 15px;
  }
}

.logo {
  font-size: 1.5em;
  font-weight: 700;
  color: $blue-ludo;
}

.tagline {
  font-weight: 500;
  padding: 5px 0 50px;
}

.social {
  margin-top: 25px;

  i {
    font-size: 1.5em;
    margin-right: 10px;
  }

  a:hover {
    color: $hover;
  }
}

footer {
  text-align: center;
  align-self: flex-end;

  p {
    font-size: 1em;
  }
}

.fa-heart {
  color: red;
}
