// Colors :
$blue-ludo: #3676D9;
$pink-ludo: #FF5778;
$dark-grey-ludo: #484848;
$light-grey-ludo: #F0F5F7;
$grey-ludo: #dce3e6;
$grey-btn: #F1F1F1;

$radius: 5px;


$green-ludo: #60CE5F;
$orange-ludo: #F78731;
$purple-ludo: #6D3DE5;
