// WORK - Go back

.go-back {
  margin-bottom: 40px;
  color: $dark-grey-ludo;
  display: flex;
  align-items: center;
  a {
    font-weight: 700;

    color: $blue-ludo;
    &:hover {
      color: $hover;
    }
  }
}

.tags-case .tag {
  background-color: #7d7a7a;
  color: white;
}
