@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900');
@import 'base';
@import 'variables';
@import 'components';
@import 'misc';

body {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  line-height: 1.4em;
  display: grid;
  grid-template-columns: minmax(370px, 25vw) 1fr;
  grid-template-rows: 100vh;
  color: $dark-grey-ludo;
}



h1 {
  font-size: 3.5em;
  font-weight: 900;
}

h2 {
  background-color: white;
  color: $blue-ludo;
  padding: 20px;
  font-weight: 800;
  font-size: 2em;
}

a {
  color: $blue-ludo;
  &:focus,
  &:hover {
    color: $blue-ludo;
  }
}
