<h1>About</h1>
<h2>TL;DR <br><br>I'm French, my home base is in Paris, France. <br><br>After 6+ years working in the digital world, I started freelancing in late 2018 as a designer and front-end developer. <br><br>Digital nomad at heart, I usually move to a different place every 3-6 months.</h2>
<%= image_tag ('ludovic_bourgoin.png') %>

  <h3>Who do I work with ?</h3>
  <p>I work with startups, mindful entrepreneurs and creatives who inspire me.</p>

  <h3>Why do I do this ?</h3>
  <p>I want to help make Internet a better place, bring more clarity, better experiences and understanding.</p>

  <h3>Why should you work with me ?</h3>

    <p><i class="far fa-check-circle"></i>&nbsp; My business background and experience in the digital word help me get the big picture. More than just designing and coding your brand online, I understand the business side of design, and I want to help you with your mission and your cause. [aspect
      strategie/branding]</li>
    <p><i class="far fa-check-circle"></i>&nbsp; Every pixel counts, and I'm here to make sure they all look perfect on every device [aspect design]</p>
    <p><i class="far fa-check-circle"></i>&nbsp; I use amazing development technologies that make your site lightning fast to load, secure, and ... ...[aspect code]</p>
    <p><i class="far fa-check-circle"></i>&nbsp; Your project is your baby. I get it. I respect your trust in me, and I won't let you down.</p>

  <p>You're in good hands with me 😎</p>

  <h3>Experiences</h3>
  Je voudrais que ces expériences soient présentaes comme une histoire, et non comme une liste bête et méchante.
  Product Management, CEO Assistant, JobWich, NYC
  Co-founded CoachOasis, worked as Product Manager

    <p>I've worked as a startup founder (phrase pourrie, mais je veux afficher que j'ai une expérience de création de boîte dans le digital: CoachOAsis, dont je mettre le case study dans la page "Work"), digital project manager, ux designer, product manager, digital marketer, digital entrepreneur... All my experiences, since my first
      internship in New York in 2007 are connected in one way or another to building web products and services, wether they're websites, landing pages, blogs, eCommerce or apps.</p>
    <p>In 2018, I decided to go to <%= link_to("The Hacking Project", "https://www.thehackingproject.org/", target: '_blank') %>, a 3-month coding bootcamp, so I would eventually get my hands dirty and actually get a feel of the technical stuff. This was a life changing experience, that truly helped me discover what my next move would be professionally speaking.</p>

<h3>Education and Qualifications</h3>
<ul>
  <li><i class="far fa-check-circle"></i>&nbsp; The Hacking Project, Coding Bootcamp, Paris / Summer 2018</li>
  <li><i class="far fa-check-circle"></i>&nbsp; MBA, Kean University, USA / 2012</li>
  <li><i class="far fa-check-circle"></i>&nbsp; University of Warwick, UK (exchange period) / 2009</li>
  <li><i class="far fa-check-circle"></i>&nbsp; MSc Marketing, École Supérieure de Commerce, France / 2009</li>
</ul>
