<h1>About</h1>
<h2>Le chapeau de la page</h2>
<%= image_tag ('ludovic_bourgoin.png') %>
<h3>Who am I ?</h3>
<p>I'm Ludo, a
  <b>French designer and front-end developer</b>
  devoted to crafting
  <b>beautiful web experiences</b>, focused on
  <b>simplicity and purpose</b>.</p>
<p>I graduated in 2012 with a
  <b>Master in marketing and business administration, and I have always
  </p>
  <p>I have always been working in the web industry (expression pourrie). Through my past experiences, I've worked as a project manager, ux designer, product manager, digital marketing, digital entrepreneur... All my experiences, since my first
    internship in New York in 2007 are connected in one way or another to building or helping to build web products, wether they're websites, landing pages blogs, ecommerce or apps.</p>
  <p>In 2018, I decided to do a
    <%= link_to("3-month coding bootcamp", "https://www.thehackingproject.org/", target: '_blank') %>
    so I would eventually get my hands dirty and actually get a feel of technical stuff. This was a life changing experience, that truly helped me design what my next move would be professionally speaking.
  </p>

  <h3>What Do I do</h3>
  <p>I've decided to take this to the next level by providing
  </p>
  <p>I want to help make Internet a better place, bring more clarity, better experiences and understanding.</p>
  <p>I like to work with mindful entrepreneurs and creatives who inspire me. It's like a gift I want to make to the community of mindful people.</p>

  <h3>Why should you work with me ?</h3>
  <p>My business background and entrepreneurship experience help me get the big picture. More than just designing and coding your brand online, I understand the business issues of it. I want to help you with your mission and your cause. [aspect
    strategy/branding]</p>
  <p>With 8+ years working in the digital world, I understand the business part of design.[alternative]</p>
  <p>Every pixel counts, and I'm here to make sure they all look perfect on every device [aspect design]</p>
  <p>I use amazing development technologies that make your site lightning fast to load, secure, and ... ...[aspect code]</p>
  <p>I manage the whole process: audit, user stories, branding, web design, development.
  </p>
  <p>Your project is your baby. I get it. I respect your trust in me, and I won't let you down.</p>
  <br>
  <p>You're in good hands with me 😎</p>
