<main>
  <section class="inner">

    <h1>About</h1>
    <h2>3 lines about me</h2>
    <h3>Summary of Brand Gap (find a better title for this section)</h3>
    <p>Le passage ci-dessous résume assez bien la raison pour laquelle le branding est si important de nos jours</p>
    <p>Among the hallmarks of a charismatic brand are a clear competitive stance, a sense of rectitud, and a dedication of aesthetics. Why aesthetics ? Because it's the language of feeling, and in a society that's information-rich and time-poor, people
      value feeling more than information.</p>

    
  </section>
</main>
