---
title: Ludovic Bourgoin
---

<main>

  <section class="inner home">
    <h1>Hello 🙌</h1>
    <h2>I'm Ludo, I Design and code Stunning Marketing Websites For Creatives and Entrepreneurs.<br><br>
    Wanna do something together ?<br><%= link_to("Let's talk !", "/letstalk.html") %></h2>


  </section>



</main>
