<h1>Hello 🙌</h1>
<h2>I'm Ludo, I Design and Build Stunning Web Experiences.<br><br>
  Wanna do something together ?<br><%= link_to("Let's talk !", "/letstalk.html") %></h2>
<h3>Titre 3</h3>
<h4>Titre 4</h4>
<a href="#">Un lien</a>
<button type="button" name="button" class="btn">A button</button>
