---
title: Ludovic Bourgoin
---


<h1>Hello Universe 👋</h1>
<p>I design Stunning Marketing Websites for Startups and Creatives, Focused on Simplicity and Purpose.</p>
<p>Wanna Work Together ? <a href="mailto:ludovic.bourgoin@gmail.com">Let's talk</a> !</p>
<br>
<%= link_to(
  "Enjoy this while waiting for my site to be live",
  "https://youtu.be/59BIX16RSkU",
  target: "_blank"
) %>
