---
title: Well, hello !
---


<h1>
  Ludovic Bourgoin
</h1>
<h2>UI/UX Designer & Front-End Developer</h2>
<br>
<%= link_to(
  "Enjoy this while waiting my site to be live",
  "https://youtu.be/59BIX16RSkU",
  target: "_blank"
) %>
