---
title: Well, hello !
---


<h1>
  Ludovic Bourgoin
</h1>
<h2>UI/UX Designer & Front-End Developer</h2>
<br>
<%= link_to(
  "Get some life inspiration",
  "https://youtu.be/Wna-8qFy_v0",
  target: "_blank"
) %>
