<h1>Hello Universe 👋</h1>
<h2 class="tagline">I'm Ludo, I Design and Build Stunning Web Experiences.<br><br>
  Wanna do something together ?<br class="break"> <%= link_to("Let's talk !", "/letstalk.html") %></h2>
