<h1>Let's Talk 🤙</h1>
<h2>You want to work with me, or just say hi ?<br>I can't wait to hear from you !</h2>
<h4 class="contact"><i class="fas fa-envelope"></i>&nbsp;&nbsp;ludovic.bourgoin (at) gmail.com</h4>
<h4 class="contact"><i class="fas fa-phone"></i>&nbsp;&nbsp;<a href="tel:+33616700340">+33 6 16 70 03 40</a></h4>
<h4 class="contact"><i class="fab fa-skype"></i>&nbsp;&nbsp;<a href="skype:ludovicbourgoin">ludovicbourgoin</a></h4>
