<main>

  <section class="inner">
    <h1>Process</h1>
    <h2>Understand the way I'll work with you.</h2>

    <h3>1. Discovery & Brand Audit</h3>
    <p>Exceptional websites start by understanding your requirements. I’ll ask you questions to understand your image, goals, target markets, content requirements, reference sites, materials and desired outcomes. Basically, we’ll cover everything you
      know and want at this point.</p>
    <p>CORE ...</p>
    <h3>2. UX Design</h3>
    <p>Translating CORE into design</p>
    <p>Once we’ve learned what you need, it’s time to start planning how we are going to make it happen. We’ll map out your sites architecture, defining sections and pages including their flow and relationship to each other. We’ll create a functional
      specifications that sets out in detail the things your website must do, and how it will do them.</p>
    <ul>
      <li>User Stories</li>
      <li>Sitemap</li>
      <li>Live UX Facilitation</li>
      <li>Feature Prioritization</li>
      <li>Sketching</li>
    </ul>

    <h3>3. Design</h3>
    <p>We’ll get our creative ideas flowing which results in us sketching and mocking-up your site. Choices about layout, type size and colour palettes are tested within a number of ideas—we’ll identify what works best in order to communicate your
      website’s goals. We’ll review the mock ups with you and refine/revise accordingly until we have approval.</p>
    <h3>4. Beautiful and User Oriented Design</h3>
    <p>From mockups to actual design, I create modern and user-oriented interfaces that make your brand look great on any device.</p>
    <h3>5. High Quality Development</h3>
    <p>The tools I use are based on client-side JavaScript, reusable APIs and prebuilt Markup. Compared to server-side CMS like WordPress, this means better performance, higher security and lower cost of scaling. You can learn more about the JAMstack on
      jamstack.org.</p>

    <h3>6. Launch</h3>
    <p>Once everyone is satisfied I’ll put your website into a launch-ready state. I’ll then get your final sign off before booking it to go live. Once live I’ll perform my final functionality tests then it’s ready for you to share with the world!</p>

  </section>
</main>
