<a href="https://ludovicbourgoin.com/work">
  <i class="fas fa-angle-left"></i>
  Back to Portfolio</a>

<h1>RavalAds</h1>
<ul class="tags">
  <li class="tags__item tags__item--white">branding</li>
  <li class="tags__item tags__item--white">design</li>
  <li class="tags__item tags__item--white">development</li>
</ul>
<%= image_tag('work/ravalads.png') %>

<h2>As a new advertising network company on the market, RavalAds needed a professional yet friendly brand identity, coming along with a modern and clean marketing website.</h2>

<h3 class="title">1 Wireframes ✏️</h3>
<p>Most of the content lies on the home page. Above the fold content must include what RavalAds is, what it does and some social proof, in order to give the brand some credibility.</p>
<p>I then displayed major benefits of using RavalAds instead of alternative solutions, then I went with a more in-depth list of features.</p>
<p>The goal for RavalAds was clear: win the trust of prospective clients by providing a credible presentation of its services and features. The CTA directs to a simple contact form.</p>
<br><br>
<%= image_tag ('work/case_studies/ravalads_1.png') %>

<h3 class="title">2 Brand Identity 🎨</h3>
<p>As we are dealing with a B2B product here, we had to stick to a modern and standardized interface, while trying to make the brand as friendly as possible so it's different from its competitors enough to be remarkable.</p>
<p>I decided to mix a stylish yet professional sans serif font (Ubuntu), with a warm and original duo of purple and orange for colors.</p>
<br><br>
<%= image_tag ('work/case_studies/ravalads_2.png') %>

<h3 class="title">3 High-Fidelity Mockups 🖼️</h3>
<p>Once I was happy with the global visual identity of the RavalAds brand, I went back to Figma to design a high-fidelity mockup of the home page. That way I'll make sure it all makes sense, for me and for the client, so I can dive into actual development without having to go back and forth beween design and code.</p>
<%= image_tag ('work/case_studies/ravalads_3.png') %>

<h3 class="title">4 Development 🖥️</h3>
<ul>
  <li><i class="far fa-check-circle"></i>&nbsp; Flexbox and Sass variables</li>
  <li><i class="far fa-check-circle"></i>&nbsp; jQuery for tabs management</li>
  <li><i class="far fa-check-circle"></i>&nbsp; Netlify Forms for contact form</li>
  <li><i class="far fa-check-circle"></i>&nbsp; Middleman for website generation</li>
  <li><i class="far fa-check-circle"></i>&nbsp; Github for source code hosting</li>
  <li><i class="far fa-check-circle"></i>&nbsp; Git and Netlify for continuous deployments</li>
</ul>
<br><br>
