<main>

  <section class="inner">
    <div class="go-back">
      <%= link_to("Go back", "/work.html") %>
    </div>

    <h1>RavalAds</h1>
    <ul class="tags">
      <li class="tag-case">branding</li>
      <li class="tag-case">design</li>
      <li class="tag-case">development</li>
    </ul>
    <h2>As a new advertising network company on the market, RavalAds needed a professional yet friendly brand identity, coming along with a modern and clean marketing website.</h2>
