<main>
  <h1>Tools</h1>
</main>

Faire une boucle each pour chacun des tools, disponibles
en mode Front Matter (ou JSON) quelque part (sur la même page j'imagine).

Faire une boucle pour chaque catégorie
Setup
Apps
Books
